.place__description {
    grid-area: description;
  }
  
  @media screen and (max-width: 560px) {
    .place__description {
      margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .place__description {
      margin-left: 16px;
      margin-right: 16px;
    }
  }